<html>
<head>
<title>AngularJS</title>

</head>
<body ng-app="myApp">

<div ng-controller="appController">
ControllerA -  {{name}} !! <input type="text" ng-model="data"></input>

{{data}}{{reversedMessage()}}
<button ng-click="clickButton();">Button</button>
<br />
</div>

<div ng-controller="appContrl">
ControllerB -  {{name}} !! <input type="text" ng-model="data"></input>

{{data}}
<button ng-click="clickButton();">Button</button>
<br />
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/angular.js" ></script>
<script type="text/javascript" src="js/AJScript.js"></script>

</body>
</html>